# Packages needed

awesome
awesome-extra
i3lock
xss-lock
libnotify-bin
xfonts-terminus
fonts-dejavu
compton
python3-xlib
python3-pil
fvwm
fvwm-crystal
gnome-themes-standard
gnome-wine-icon-theme
alsa-utils
pavucontrol
pulseaudio
numlockx
playerctl
