[Unit]
Description=Configure monitors on %I
PartOf=graphical-session@%i.target

[Service]
Environment=DISPLAY=%I
ExecStart=/usr/bin/autorandr --change --default default
LimitCORE=infinity
Type=oneshot
RemainAfterExit=false
