[Unit]
Description=Configure monitors on %I
PartOf=graphical-session@%i.target

[Service]
Environment=DISPLAY=%I
ExecStart=/usr/bin/autorandr --change --default default
Type=oneshot
RemainAfterExit=false

[Install]
WantedBy=graphical-session@%i.target
