[Unit]
Description=Compositor for X11 on %I
PartOf=graphical-session@%i.target

[Service]
Environment=DISPLAY=%I
ExecStart=/usr/bin/compton --backend glx \
                           --xrender-sync \
                           --xrender-sync-fence \
                           --vsync opengl-swc \
                           --paint-on-overlay
