[Unit]
Description=Graphical user session for %I
StopWhenUnneeded=yes
Wants=autorandr@%i.service
Wants=awesome@%i.service
Wants=compton@%i.service
Wants=inputplug@%i.service
Wants=misc-x@%i.service
Wants=nm-applet@%i.service
Wants=policykit-agent@%i.service
Wants=redshift@%i.service
Wants=wallpaper@%i.timer
Wants=xiccd@%i.service
Wants=xsettingsd@%i.service
Wants=xss-lock@%i.service
Wants=tmux.service
Wants=ssh-agent.socket
