[Unit]
Description=XInput event monitor for %I
PartOf=graphical-session@%i.target

[Service]
Environment=DISPLAY=%I
ExecStartPre=/usr/bin/setxkbmap us
ExecStart=%h/bin/inputplug -0 -c %h/.config/awesome/bin/input-event
Type=forking
