[Unit]
Description=Miscellaneous settings for X11 on %I
PartOf=graphical-session@%i.target

[Service]
Environment=DISPLAY=%I
ExecStart=/usr/bin/xset -b
ExecStart=/usr/bin/numlock on
Type=oneshot
RemainAfterExit=false
