[Unit]
Description=Network Manager applet for %I
PartOf=graphical-session@%i.target

[Service]
Environment=DISPLAY=%I
ExecStart=/usr/bin/nm-applet

[Install]
WantedBy=graphical-session@%i.target
