[Unit]
Description=Compositor for X11 on %I
PartOf=graphical-session@%i.target

[Service]
Environment=DISPLAY=%I
ExecStart=/usr/bin/picom --backend glx \
                         --glx-no-rebind-pixmap \
                         --vsync
