[Unit]
Description=Compositor for X11 on %I
PartOf=graphical-session@%i.target

[Service]
Environment=DISPLAY=%I
ExecStart=/usr/bin/picom --experimental-backends \
                         --backend xr_glx_hybrid \
                         --vsync \
                         --vsync-use-glfinish
