[Unit]
Description=Set color temperature on %I
PartOf=graphical-session@%i.target

[Service]
Environment=DISPLAY=%I
ExecStart=/usr/bin/redshift -l 2.35:48.87 -t 6500:3900

[Install]
WantedBy=graphical-session@%i.target
