[Unit]
Description=Build a wallpaper for %I
PartOf=graphical-session@%i.target

[Service]
Environment=DISPLAY=%I
Environment=WALLPAPER_DIRECTORY=%h/.config/awesome/wallpapers
Environment=WALLPAPER_OUTPUT=%h/.cache/awesome/current-wallpaper.png
ExecStart=%h/.config/awesome/bin/build-wallpaper --crop \
                                                 --directory $WALLPAPER_DIRECTORY \
                                                 --target $WALLPAPER_OUTPUT
ExecStart=/usr/bin/fvwm-root -r $WALLPAPER_OUTPUT
Type=oneshot
RemainAfterExit=false
