[Unit]
Description=X color management
PartOf=graphical-session@%i.target

[Service]
Environment=DISPLAY=%I
ExecStart=/usr/bin/xiccd --edid

[Install]
WantedBy=graphical-session@%i.target
