[Unit]
Description=XSETTINGS daemon for %I
PartOf=graphical-session@%i.target

[Service]
Environment=DISPLAY=%I
ExecStart=/usr/bin/xsettingsd -c %h/.xsettingsd
ExecReload=/usr/bin/kill -HUP $MAINPID
